<!--
<form action="#/regsuccessState" ng-submit="getData()"><center>
  
    <table><tr><td>FirstName:</td><td>
	<input type = "text" ng-model = "user.firstname" placeholder = "FirstName" />
   </td></tr>
   <tr><td>LastName:</td><td>
    <input ng-model="LastName"  placeholder="search term" class="form-control">
   <input ng-model = "user.lastname" placeholder = "LastName" />
   </td></tr>
   <tr><td>Email:</td><td>
   <input  ng-model = "user.emailid" placeholder = "emailid" />
   </td></tr>
   <tr><td>Phone:</td><td>
   <input  ng-model = "user.phone" placeholder = "phone" />
   </td></tr>
   <tr><td>Preferred Menu :</td><td>
   <input  ng-model = "user.prefmenu" placeholder = "Preferred Menu Item" />
   </td></tr>
   <tr><td ></td><td>
    <a ui-sref="regsuccessState">TEst UI-sref submittsion</a>
    <input type="submit" class="btn btn-primary" text="Registerwithsubmit"/>
   
   <button class="btn btn-primary" ng-click="getData(user)">Register</button>
   
</td></tr></table></center>
</form>
<br>
-->

 
    <div class="form-group">
      <input ng-model="LastName"  placeholder="LastName" class="form-control">

    </div>
    <div class="form-group narrow-button">
      <a ui-sref="regsuccessState" class="btn btn-primary">Register</a>
    </div>
  </div>
